section.main-slider
    .container.main-slider__container
        .main-slider__wrapper
            h1 Lorem ipsum dolor sit amet
            span sed do eiusmod tempor
            ul.main-slider__price-list
                li <svg width="39" height="37"><use xlink:href="img/sprite.svg#price"></use></svg> do <span>$10 000</span> consectetur elit
                li <span>30%</span> sed do eiusmod tempor
                li do <span>17%</span> adipiscing elit sed do
            a(href="#") Order
    picture.main-slider__picture
        source(type="image/webp" srcset="img/main-slider__picture.webp")
        img(src="img/main-slider__picture.jpg" alt="")