header.header
    .container.header__container
        a.header__logo(href="#") Lorem
        nav.header__nav
            ul
                li
                    a(href="#") Consectetur
                li
                    a(href="#") Sit amet
                li
                    a(href="#") Eiusmod tempor