// Цвета

// Размеры медиазапросов
$small-min: 320px;
$small-max: 575px;
$phone-min: 576px;
$phone-max: 767px;
$tablet-min: 768px;
$tablet-max: 991px;
$laptop-min: 992px;
$laptop-max: 1321px;
$container-min: 1322px;
$container-max: 1919px;
$desktop-biggest: 1920px;

// Отступы
$laptop-paddings: 50px;
$tablet-paddings: 30px;
$phone-paddings: 20px;
